{% if not user.tags.empty %}
    <p class="user-tags">
        {% for tag in user.tags %}
            <i> </i>
            <a href="{{ path('admin_user_index', {'tag': tag.name == app.request.query.get('tag') ? null : tag.name}) }}"
               class="label label-{{ tag.name == app.request.query.get('tag') ? 'success' : 'default' }}"
            >
                <i class="fa fa-tag"></i> {{ tag.name }}
            </a>
        {% endfor %}
    </p>
{% endif %}

