{% extends 'base.html.twig' %}

{% block body_id 'datefields_form_error' %}

{% block main %}
    <h1 class="text-danger">{{ 'title.datefields_error'|trans }}</h1>

    <div class="well">
        {{ include('crud/fields/_datefields_form.html.twig') }}
    </div>
{% endblock %}
