{% extends 'base.html.twig' %}

{% block body_id 'subelement_form_error' %}

{% block main %}
    <h1 class="text-danger">{{ 'title.subelement_error'|trans }}</h1>

    <div class="well">
        {{ include('crud/_subelement_form.html.twig') }}
    </div>
{% endblock %}
